.topnav{
    background-color:#ffff;
    overflow: hidden;
    top:0;
    position:fixed;
    width:100%;
}

.topnav a{
    float:left;
    display:block;
    color:#081c15;
    text-decoration: none;
    padding:14px 16px;
    text-transform: uppercase;
}

.footer{
    background-color: lightgrey;
    height: 50px;
}
.topnav a.brand{
    color:#38b000;
    font-weight:900;
}

.topnav a.right{
    float: right;

}
.topnav a.btn{
background-color: #38b000;
font-weight: 500;
color:#ffff;

}

body{
    font-family: 'Montserrat', sans-serif;
    letter-spacing:0.1em;
    background-color:#f7faf2;
    height: 100%;
    margin:0;
   }
 

.landing{
    margin:0 auto;
    width: 1000px;
    float: left;
    margin-top: 62px;
    background-color: #fff;
    padding: 3.2em;
    margin-bottom: 20px;
}

.sidemenu{

    margin:0 ;
    width: 20%;
    float: left;
    background-color: #fff;
    height: 100vh;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.05);
    overflow:none;

}

.content{
    float:right;
    width:80%;
    height: 100vh;
    padding: 50px;
    
}

.leftcolumn{
    float: left;
    width: 65%; 
    background-color: #fff;
    padding: 10px;
    margin-right: 20px;
}
 
.rightcolumn{
    float: left;
    width: 25%; 
    border-left: 5px solid blue;
    padding: 10px;
}

ul.sidebar{
    background-color: #292929;
    list-style: none;
    color: white;
    padding-left: 0;
}

ul.sidebar li{
    padding: 10px;
    border-bottom: 1px solid #3c3c3c;
}

ul.sidebar a{
    color: wheat;
    text-decoration: none;
}

.row{
    width:100%;
    margin: auto;
}

*{
    box-sizing: border-box
}

.row::after{
    content: "";
    display: table;
    clear: both;
}
.column{
    float:left;
    width:33.33%;
   
}

.c{
    float: left;
   
}

.c.sidec{
    width:25%;
    
}
.c.middlec{
    width:70%;
   
}
.c.sidecAlinks{
    width:50%;
}

.c.sidecA{
    width:25%;
}
.c.middlecA{
    width:50%;
}




.sidemenu i{
    margin-right:20px;
    width:10px;
    height: 10px;

}

.sidemenu h5{
    color:grey;
    font-weight: 400;
    padding-left: 25px;
    margin-top: 50px;
}
.sidemenu li{

    padding-bottom:8px;
    margin-bottom: 15px;
}
.sidemenu a{
    text-decoration: none;
    color:grey;
    padding-bottom: 15px;
   
}
/* responsive code*/
/*if screen less than  800px wide = stack colums*/

@media screen and (max-width: 900px){
    .leftcolumn, .rightcolumn, .column, .c.sidec, .c.middlec, .header, .content, .dashwrap,.dash-col2 ,.dash-col1 , .dashcol3, .dashcol4, .dashcol5, .dash-col6, .dash-col7, .item-col2, .item-col1, .table-col1, .table-col2, .navsearch, .navbar, .sidecAlinks, .sidecA, .middlecA {
        width: 100% !important; 
        float: none !important;
    }
    /*no horizontal scroll*/
    .landing {
        margin: 0;
        width: 100%;
    }

    
}
/*nav bar responsive code*/
/*if screen less than  600px wide = stack nav items*/
@media screen and (max-width: 800px) {
    .topnav a, .header a, .sidebar {
        float: none;
        width: 100%;
    }
   
}


/*LAYOUT CSS*/
.header{
    background-color:#ffff;
    overflow: hidden;
    top:0;
    height: 70px;
    width:100%;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05);
    z-index: 1;
    position: relative;
  display: block;
    line-height: 70px;

    
}

.header a{
    float:left;
   
    color:#081c15;
    text-decoration: none;
  
    vertical-align: middle;
    text-transform: uppercase;
   
}
.header a.brand{
    color:#38b000;
    font-weight:900;
    margin-left:25px;
}

.header a.right{
    float: right;

}
.header a.btn{
background-color: #38b000;
font-weight: 500;
color:#ffff;

}

ul.dashboard-wrapper, ul.users-wrapper{
  
    list-style: none;
    list-style-type: none;
    padding-left: 0;
}

.sidemenu li{

  
    width:100%;
}



.header a.language, a.notifications, a.profile{
    float: right;
    margin-right:25px;
}


.header-search{

    background-color: #f7faf2;
    border: none;
    width:300px;
    height: 40px;
    border-radius: 5px;
    margin-left:250px;
}


::placeholder{
    opacity: 0.5;
    padding-left:10px;
}

.filter-search{

    background-color: #f7faf2;
    border: none;
    width:150px;
    height: 40px;
    border-radius: 5px;
    margin-left:20px;
}

.dashboard-link:hover{
    background-color: #f7faf2;; 
    border-right:5px solid #38b000;

}

.dashboard-link:active{
    background-color: #f7faf2; 
    border-right:5px solid #38b000;

}



.dashboard-link a:hover {
  color: #38b000;
}

#dashboard a.dashboardsidemenulink {
    background-color: #f7faf2; 
    border-right:5px solid #38b000;
    color: #38b000;
}


#customers a.customersidemenulink{
    background-color: #f7faf2; 
    border-right:5px solid #38b000;
    color: #38b000;

}

#items a.itemssidemenulink{

    background-color: #f7faf2; 
    border-right:5px solid #38b000;
    color: #38b000;
}
#users a.usersidemenulink{

    background-color: #f7faf2; 
    border-right:5px solid #38b000;
    color: #38b000;
}

#permissions a.permissionssidemenulink{
    background-color: #f7faf2; 
    border-right:5px solid #38b000;
    color: #38b000;

}
.dashboard-link a:active {
    color: #38b000;
  }


.dashboard-link {
    padding-left:25px;
    height: 50px;
    line-height: 50px;
    
}

.row h3{

    font-weight: 400;
}

.newcategory-btn{

   
   text-decoration: none;
   background-color:#38b000;
   text-transform: uppercase;
   color:white;
   padding:10px;
   border-radius: 10px;
   font-size: 0.8rem;
   float:right;
   margin-left:10px;
   box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05);
}

.newitem-btn{

    text-decoration: none;
    background-color: white;
    text-transform: uppercase;
    color:#38b000;
    padding:10px;
    border-radius: 10px;
    font-size: 0.8rem;
    float:right;
    margin-left:10px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05);
 }